:root{
    --branding-color:#6c63ff;
    --extra-color:radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 85%);
    --secondary-color: #FAF7FD;
   
   --background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);

    --heading-font-family: 'Dancing Script',
    cursive;
    --default-font-family: 'Playfair Display',
    serif;
}
body{
    font-family: var(--default-font-family);
}
h1{
    font-family: var(--heading-font-family);
    font-weight:500;
    font-size: 80px;
}
h2{
    font-size: 50px;

}

p{ font-size: 16px;
line-height: 30px;}
h3{
    font-size: 35px;
}
.hero{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 100px 20px;
}
.hero p{
      font-size: 36px;
     margin: 0;
}

.hero h2{
     font-family: var(--default-font-family);
    line-height: 1.5;
    font-weight: normal;
     font-size: 24px;
}
.name:hover{
    background: var(--extra-color);
    color:black;
      box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
          line-height: 1.3;
            border-radius: 4px;
              margin: 10px 0;
                 transition: all 100ms ease-in-out;
}
.btn-branding{
    background: var(--extra-color);
      border: 1px solid var(--branding-color);
    border-radius: 4px;
    color:white;
    font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
       box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
}
.btn-branding-outline{
    border: 1px solid var(--branding-color);
     border-radius: 4px;
     color:var(--branding-color);
         box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
     background: var(--extra-color);
     font-size: 18px;
     line-height: 27px;
     padding: 15px 30px;}
.project-description{
    padding: 120px 60px 0;
}
#sarmale{
    max-width:70%;
  box-shadow: 1px solid;
}
#dictionary {
    max-width: 80%;
}
#tindog{
    max-width: 100%;
}
.content-container{
    padding: 60px 60px;
   
}
.content-container h1 {
   font-size:64px;
   line-height:1.5;
  }
.content-container h2 {
    font-size:25px;
    font-family: var(--default-font-family);
}
 .content-container .img-fluid {
border-radius: 40px;
 }
.content{
    margin:30px;
}
.content h3{
    font-size:  24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
    margin: 20px 0 0;
}
.content p{
    font-size: 14px;
}
.logo{
    max-width:200px;
    border-radius: 50px;
}
nav{
    padding:20px 0;
    background-color: white;
}
nav ul{
padding:0;
margin:0;

}
nav li{
display:inline;
list-style: none;
line-height: 42px;
 margin-left:15px;
}
nav a{
   text-decoration: none;
   color: #272142;
   transition: all 100ms ease-in-out;
}
nav a:hover,
li.active a {
    color:var(--branding-color);
}
footer{
    margin:60px 0;
}
footer .contact-box{
    background-color: var(--secondary-color);
    padding:30px 120px;
   border-radius: 15px;
}
footer .contact-box p {
    margin: 0;
}
 footer .social-links a{
margin:0 20px;
color: var(--branding-color);
background: var(--secondary-color);
padding:10px 14px;
font-size:18px;
border-radius: 50px;
 }
 footer .social-links a:hover{
     color:white;
     background-color:var(--branding-color);
     transition: all 100ms ease-in-out;
      animation: fa-spin 7s linear 0s infinite normal none;
 }
footer .email-link{
    text-decoration: none;
    color:black;
    font-size:24px;
    text-align:center;
}
footer .email-link:hover{
    color: var(--branding-color);
}
 .content-contact {
     background: var(--secondary-color);
     text-align: center;
     padding: 80px 20px;
     border-radius:50px;
 }
 .content-contact a{
     text-decoration: none;
     color:#9B1707;
     font-size: 15px;
 }
 .content-contact h3{
     font-size:25px;
 }
@media(max-width: 960px){
    h1{
        font-size:60px;
        line-height: 56px;
    }
    h2{
        font-size: 44px;
    }
    h3{
        font-size: 18px;
    }
    .hero{
        padding: 80px 20px;
    }
    .project-description{
        padding:0;
        text-align: center;
      
    }
    .content-container{
        text-align: center;
        padding:0;
    }
    .content-container .img-fluid{
        max-width: 70%;
        border-radius: 30px;
        height: auto;
    }
    .content h1{
        font-size:50px;
    }

    nav a{
        font-size: 14px;
    }

   
}