:root{
    --branding-color:#6c63ff;
    --secondary-color: #FAF7FD;
    --heading-font-family: 'Dancing Script',
    cursive;
    --default-font-family: 'Playfair Display',
    serif;
}
body{
    font-family: var(--default-font-family);
}
h1{
    font-family: var(--heading-font-family);
    font-weight:500;
    font-size: 80px;
}

h2, p {
   font-family: var(--default-font-family);
 font-size: 24px;
}
.hero{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p{
     
     font-size: 36px;
     margin: 0;

}

.hero h2{
    line-height: 2;
    font-weight: normal;
}

.btn-branding{
    background: var(--branding-color);
    border-radius: 4px;
    color:white;
    font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}